// ==========================================================================
// Objects / Container
// ==========================================================================

.o-container {
  max-width: 38rem;
  margin: 0 1.75rem;
  
  @media (max-width: $to-small) {
    margin: 0 1.5rem;
  }
}
