---
import '../styles/styles.scss';
import Header from '../components/Header.astro';
export interface Props {
	pageTitle: string;
}
const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio de Samuel Joly, développeur web front-end et votre futur meilleur ami.">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 100 100&quot;><text y=&quot;1em&quot; x=&quot;.1em&quot; font-size=&quot;85&quot;>✌️</text></svg>">
    <link rel="me" title="GitHub" href="https://github.com/SamJol">
    <link rel="me" title="LinkedIn" href="https://linkedin.com/in/samuel-joly">
    <link rel="preload" href="fonts/CircularStd-Book.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/CircularStd-Black.woff2" as="font" type="font/woff2" crossorigin>
    <script src="../scripts/scripts.js"></script>
		<title>{pageTitle}</title>
	</head>
	<body>
    <Header></Header>
    <main>
      <div class="o-container">
        <slot />
      </div>
    </main>
	</body>
</html>
